html, body, h1, h2, h3, p, ul, li {
  margin:0;
  padding:0;
}

*{ font-family:roboto, sans-serif; 
   box-sizing:border-box;
   

}

body{
  background-color:rgb(242,242,242);
}
html{font-size:10px; }
header .logo{font-size:2.4rem;}
header .nav-top{font-size:1.8rem}


.top1{
  width:320px;
  
  margin:0 auto; 
  padding:0 0;
  letter-spacing:0px;
}


header .logo{
  font-family:roboto slab;
  font-size:2.5rem;
  padding-top:30px;
  padding-bottom:30px;
  border:0px solid red;
  text-align:center;
  margin:0 auto;
}

header .top1 a{
  color:#111;
  text-decoration:none;  
}


header .nav-bar{
  border:0px solid red;
}

header .nav-top{
 background:#333;
  min-height: 80px; 
  display:block;
}

header .nav-top a{
  border:0px solid red;
 
  color:#222;
  text-align: center;
  display: block;
  text-decoration:none;
  color: #fff;
  height:80px;
  border-bottom: 1px solid          rgba(255,255,255,0.3);
  padding:30px 0;
  letter-spacing:.8px;
  transition: all .2s ease-in-out;
  transition-delay:0s;
  /*border-bottom:8px solid rgb(242,242,242);*/
   box-sizing:initial;
   height:20px;
}

header #nav-d-photo{
   
   /*border-bottom:8px solid #bbb;
   box-sizing:initial;
   height:20px;*/
  
}

header #nav-locations{
   background-color:#eee;
   color:black;
   font-weight:700;
   border-bottom:8px solid #bbb;
   box-sizing:initial;
   height:20px;
  
}

header a:hover{
  display:block;
  font-weight:700;

  background-color:#eee;
  color:black;
  border-bottom:8px solid #bbb;
}

header a:click{
  background-color:#eee;
  color:black;
  font-weight:700;
}


.container{
  display:block;
  border:0px solid red;
  /*max-width:1024px;*/
  margin:20px auto;
  background-color:rgb(242,242,242);
  width:100%
}

.contents{
  border:0px solid red;
  bakcground-color:rgb(242,242,242);
  max-width:1024px;
  margin:60px auto;
  
}

.location{
  margin:20px 10px;
  border:0px solid red;
  
}

#na .title{
  border-bottom:1px dotted #6692f9;

}

#in .title{
  border-bottom:1px dotted #79D8d0;

}

.location .title h2{
  font-size: 2.4rem;
  font-weight:500;
  padding-top:15px;
  padding-bottom:5px;
  letter-spacing:2px;
  border:0px solid red;
  padding-left:15px;
  padding-right:15px;
  color:white;
}

.location .title h3{
  border:0px solid red;
  padding-left:15px;
  padding-right:15px;
  padding-top:5px;
  padding-bottom:15px;
  letter-spacing:1px;
  font-size:1.6rem;
  font-weight:400;
  line-height:1.8;
  color:white;
}

.location .title p{
    letter-spacing:0.6px;
  font-size:1.6rem;
  font-weight:400;
  line-height:1.4;
  padding:20px 15px;
  background-color:#fff;
  
  
}

.location .img img{
  display:block;
  width:100%;
}

.location .img{
  display:block;
  border:0px solid red;
  
}

#na h3, h2{
  background-color:#6692f9;
}

#na .img h3{
  background-color:white;
  font-size: 1.6rem;
  font-weight:500;
  padding-top:30px;
  padding-bottom:5px;
  letter-spacing:2px;
  border:0px solid red;
  padding-left:15px;
  padding-right:15px;
  color:#6692f9;
}

#na .img p{
   letter-spacing:0.6px;
  font-size:1.6rem;
  font-weight:300;
  line-height:1.4;
  padding:0px 15px 5px 15px;
  background-color:#fff;
  
} 

#in h2, h3{
  background-color:#79D8d0;
}

#in .img h3{
  background-color:white;
  font-size: 1.6rem;
  font-weight:500;
  padding-top:30px;
  padding-bottom:5px;
  letter-spacing:2px;
  border:0px solid red;
  padding-left:15px;
  padding-right:15px;
  color:#79D8d0;
}

#in .img p{
   letter-spacing:0.6px;
  font-size:1.6rem;
  font-weight:300;
  line-height:1.4;
  padding:0px 15px 5px 15px;
  background-color:#fff;
  
} 












.footer{
   background-color:#333;
   height:160px;
   clear:both;
}
.footer h5{
  position:relative;
  top:15%;
  padding-right:30px;
  padding-left:30px;
  font-size:10px;
  font-weight:100;
  text-align:center;
 line-height:2em;
  color:#ddd;
  letter-spacing:1px;
 
}


@media (min-width : 400px) {
  
  .footer .address{
    font-weight:400;
    font-size:12px;
    letter-spacing:0.8px;
    color:#eee;
  }
  .footer h5{
    position:relative;
    top:20%;
  }
}

@media (min-width : 320px) {


}

@media (min-width : 600px) {
  
  .nav-top a {
     border:1px solid red;
     float: left;
     width: 20%;
     font-size: 1em;
     border: none; /* override */
   }
  

  

  
  
  
  
  .footer h5{
    position:relative;
    top:50px;
   }
  

 
}

@media(min-width:768px) {
  .blogger{
    width:768px;
    margin:20px auto;
  }
  .container {
    margin:0 auto;
  }
    .location{
    width:47.4%;
    float:left; 
    margin:20px 10px;
  }
  
  
  
  }
  
@media (min-width : 900px) {
  
  header .nav-top{
    width:900px;
    margin:0 auto;
  }
  
  header .nav-bar{
    width:100%;
    background:#333; 
  }
  
  .nav-top a {
     border:1px solid red;
     float: left;
     width: 180px;
     font-size: 1em;
     border: none; /* override */
   }
  
  .container{
    width:900px;
  }
  



}